.aside-panel{
    float:left;
    height:100%;
}

.dot{
    height: 8px;
    width: 8px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    display: inline-block;
    animation: pulse 2s infinite;
    margin-left: 5px;
}

.names{
    max-width: 60px;
    text-overflow: ellipsis;
}

@keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }

.svg-img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.aside-panel-strimers{
    padding: 10px;
    font-size: small;
    font-family: Lucida Calligraphy;
    margin-top: 8px;
    background-color: rgb(226, 226, 226);
    width: 180px;
    height: 370px;
    overflow: auto;
}

.aside-panel-strimer-info{
    display: flex;
    align-items: baseline;
    width: 180px;
}

.aside-panel-strimer-info:hover{
    background-color: rgb(206, 203, 203);
    border-bottom: 2px solid rgb(171, 253, 154);
    border-radius: 10%;
    cursor: pointer;
}

.viewers{
    margin-left: 130px;
    position: absolute;
}

.aside-panel-information-block{
    margin-top: 1px;
    max-width: 180px;
    max-height: 150px;
    display: flex;
    background-color: rgb(226, 226, 226);
    padding: 10px;
}

.aside-panel-information-block-context{
    background-color: rgb(214, 202, 202);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    height: 120px;
}

.social .fab.fa-telegram{
    color: rgb(17, 0, 255);
}

.social{
    margin-top: -5px;
    font-size: x-large;
}

.social .fab.fa-telegram:hover{
    color: rgb(2, 0, 138);
    cursor: pointer;
}

.social .fab.fa-facebook:hover{
    color: rgb(0, 138, 115);
    cursor: pointer;
}

.social .fab.fa-instagram:hover{
    color: rgb(182, 19, 19);
    cursor: pointer;
}

.aside-panel-information-block-context h3::selection{
    color: rgb(255, 255, 255);
    background-color: rgba(233, 98, 36, 0.795);
}