body{
    background: linear-gradient( rgba(247, 248, 245, 0.8), rgba(180, 198, 214, 0.5) );
    z-index: -4;
}

.header{
    border-top: 1px solid darkslategray;
    box-shadow: 0px 3px 15px #bee4ee;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Comic Sans MS;
    height: 40px;
    background: linear-gradient( rgba(238, 241, 234, 0.8), rgba(178, 209, 236, 0.5) );
}

.header-name{
    color: rgb(255, 115, 0);
    font-size: 25px;
    float: left;
    margin-left: 8px; 
}

.header-input{
    float: left;
    margin-top: 8px;
    display: table;
    padding-left: 27%;
}

.header-input .fa.fa-search:hover{
    cursor: pointer;
    color: rgb(71, 71, 71);
}

.header-input input, .header-input button{
    border:0px;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: linear-gradient( rgba(238, 241, 234, 0.8), rgba(153, 193, 229, 0.5) );
}

.header-input .fas.fa-microphone{
    padding-left: 8px;
    color: rgba(170, 170, 170, 0.877);
}

.header-input .fas.fa-microphone:hover{
    color: rgba(70, 67, 67, 0.877);
    cursor: pointer;
}

.header-notifications .fas.fa-envelope:hover{
    color: rgba(70, 67, 67, 0.877);
    cursor: pointer;
}

.header-notifications{
    float: right;
    color: rgba(170, 170, 170, 0.877);
    margin-top: 8px;
    margin-right: 20px;
}

.header-notifications button{
    color: rgb(0, 0, 0);
    background-color: rgb(240, 150, 90);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0.2px solid rgb(0, 0, 0);
}

.header-notifications button:hover {
    background-color: rgb(40, 145, 54);
    cursor: pointer;
}

.header-notification-content{
    display: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 100px;
    position: absolute;
    padding-left: 5px;
    right: 5px;
    background-color: white;
    z-index: 1;
}

.header-notification-content p:hover{
    background-color: rgb(240, 236, 236);
    border-radius: 10px;
    cursor: pointer;
    width:85px;
}

.header-notification-details:hover .header-notification-content{
    display: block;
}

.header-notification-value, .header-notification-details{
    float:left;
}

.header-notification-value{
    margin-right: 10px;
}